*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.connexion-div{
    margin: 12% auto;
    border-radius: 20px;
    width: 40%;
    border: 5px solid #0D541A;
    height: 330px;
}
.connexion-div img{
    float: right;
    border-radius: 20px;
    height: 100px;
    width: 130px;
}
.connexion-div h1{
    text-align: center;
    color: #0D541A;
    position: relative;
    left: 10%;
    font-weight: bold;
    margin: 60px auto 30px;
    font-size: 3vh;
}
.connexion-div input{
    width: 87%;
    height: 45px;
    margin: 1.5% 7%;
    border-radius: 20px;
    border: 1px solid #0D541A;
}
.connexion-div button{
    float: right;
    height: 40px;
    width: 35%;
    margin: 5% 2%;
    border-radius: 20px;
    border: 1px solid #0D541A;
    background-color: #0D541A;
    color: aliceblue;
}
.connexion-div button:hover{
    border: 1px solid #0D541A;
    background-color: #FFF;
    cursor: pointer;
    color: #0D541A;
}
